<form action="">
  <div class="form-group">
    <label for="defaultSearchOption">
      <img src="/assets/desktop/icon-search.svg" alt="Icône de recherche" />
    </label>
    <input
      id="defaultSearchOption"
      type="text"
      placeholder="Filter by title, companies, expertise"
      class="text-bold"
    />
  </div>

  <div class="form-group">
    <label for="locationSearchOption">
      <img
        src="/assets/desktop/icon-location.svg"
        alt="Icône de position géographique"
      />
    </label>
    <input
      id="locationSearchOption"
      type="text"
      placeholder="Filter by location"
      class="text-bold"
    />
  </div>

  <div class="form-group">
    <input
      id="typeFilter"
      type="checkbox"
      placeholder="Search by title, companies, expertise"
    />
    <label for="typeFilter">Full Time Only</label>
  </div>

  <button class="btn-primary text-bold">Search</button>
</form>
