header {
  background: url(/assets/desktop/bg-pattern-header.svg) center/cover;
  border-radius: 0 0 0 8rem;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;

    h1 {
      cursor: pointer;
    }
  }
}
